.color-title{
    font-weight: normal;
    padding-left: 75px;
}
#red{
    color:red;
}
#blue{
    color:blue;
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#yellow{
    color:yellow;
}
img{
    height: 200px;
    width: 200px;
    
}
